*.wfp
*-result.json
*-res.json
*.pem
.vscode/
gitee_com_*
github_com_*
master.zip
dist/
build/
tmp/
.eggs
*.egg-info
__pycache__
venv/
.idea
src/scanoss/data/build_date.txt
bad*.txt
*.csv
*.json
*.tar
*.tgz
*.gz
*.zip
local-*.txt
