requests
crc32c>=2.2
binaryornot
progress
grpcio>=1.70.0
protobuf>3.19.1
protoc-gen-openapiv2
pypac
urllib3
pyOpenSSL
google-api-core
importlib_resources
packageurl-python
pathspec
jsonschema
crc
protoc-gen-openapiv2
cyclonedx-python-lib[validation]